/*
 *
 * Styles for the @luiabooya test app. Written with love by @luiabooya and @dsonger.
 *
 */

/* === UTILITY CLASSES === */
.right {
	float: right;
}

.italic {
	font-style: italic;
}

.no-italic-no-bold {
	font-style: normal;
}
/* === END UTILITY CLASSES === */

body{
	padding: 10px;
}

.david-note {
	font-family: "Arial";
	margin-top: 40px;
}

.poem {
	font-family: "Times";
}

.sonnet {
	font-family: "Georgia";
}
.line_1 {
	color: #cc99ff;
}
.line_2 {
	color: #ff99ff;
}
.line_3 {
	color: #99c2ff;
}
.line_4 {
	color: #9fdf9f;
}
.line_5 {
	color: #ffbf80;
}
.line_6 {
	color: #ff8080;
}